[submodule "external/CommandLineProgressBar"]
	path = external/CommandLineProgressBar
	url = https://github.com/maxfrei750/CommandLineProgressBar
[submodule "external/MATLAB-GJK-Collision-Detection"]
	path = external/MATLAB-GJK-Collision-Detection
	url = https://github.com/mws262/MATLAB-GJK-Collision-Detection
[submodule "external/matgeom"]
	path = external/matgeom
	url = https://github.com/mattools/matGeom/
[submodule "external/gptoolbox"]
	path = external/gptoolbox
	url = git@github.com:maxfrei750/gptoolbox_precompiled.git
